@media screen and (max-width: 580px) {
  #items-list {
    margin-top: 20px;
  }

  #main-container-two {
    overflow-x: hidden;
  }
  .landing-text {
    text-align: center;
  }

  #old-list-div {
    text-align: left;
  }

  #landing-container {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #new-list-button {
    margin-top: 45px;
  }

  #old-list-div {
    margin-top: 30px;
  }

  .item-quantity {
    width: 30px;
  }
  .item-price {
    width: 60px;
  }

  .item-description {
    width: 80px;
  }

  .item-container {
    margin-bottom: 5px;
    color: black;
    padding: 5px;
  }

  .item-name {
    position: relative;
    top: 6px;
  }
  #items-total {
    position: relative;
    top: -1px;
    left: 50px;
    font-weight: 900;
    font-size: 25px;
  }
  .item-checkbox {
    position: relative;
    top: 5px;
  }
  .add-boton-div {
    position: fixed;
  }

  #header {
    position: fixed;
    margin-top: 15px;
    margin-left: 10px;
  }

  .bottom-header-row {
    position: relative;
    top: 5px;
  }

  .cat-icon {
    font-size: 25px;
  }

  #refrigerated {
    color: rgb(77, 195, 255);
    font-weight: 900;
  }

  #dry-foods {
    color: RGB(158, 162, 107);
    font-weight: 900;
  }

  #household-icon {
    color: rgb(102, 204, 0);
    font-weight: 900;
  }

  #wet-foods {
    color: rgb(0, 102, 204);
    font-weight: 900;
  }

  .strike-red {
    color: red;
    text-decoration: line-through;
  }

  .no-strike {
    color: rgb(68, 204, 0);
  }

  #household {
    border-radius: 7px;
    background-color: rgb(102, 204, 0);
  }

  #frozen {
    border-radius: 7px;
    background-color: rgb(77, 195, 255);
  }

  #wet {
    border-radius: 7px;
    background-color: rgb(0, 102, 204);
  }

  #dry {
    border-radius: 7px;
    background-color: RGB(158, 162, 107);
  }

  .checked-price {
    opacity: 0.5;
  }

  .serious-container-small {
    position: fixed;
    top: 120px;
    margin-top: 150px;
    width: 95vw;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .serious-container-big {
    position: fixed;
    top: -100px;
    margin-top: 150px;
    width: 95vw;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .show-expander {
    visibility: hidden;
  }

  .show-shrinker {
    visibility: hidden;
  }

  #scroll-pane-expander {
    position: fixed;
  }

  #scroll-pane-shrinker {
    position: fixed;
    top: -10px;
  }

  .body-row {
    position: relative;
    top: 120px;
  }

  #add-boton {
    width: 95%;
    margin-left: 10px;
  }

  #totals-row {
    position: fixed;
    top: 175px;
    width: 250px;
  }

  #line-two {
    margin-top: 10px;
  }

  #line-one {
    margin-top: 10px;
  }

  #add-item-div {
    margin-top: 20px;
  }

  .show-error-message {
    display: none;
  }

  /* login page begin */
  #login-icon-row {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    text-align: center;
  }

  #login-label {
    position: relative;
    top: 10px;
    font-size: 30px;
    font-weight: 600;
  }

  #login-container {
    position: relative;
    top: 20px;
    font-weight: 600;
  }

  #sign-up-prompt {
    margin: auto;
    width: 50%;
    text-align: center;
  }

  /* login page end */




  /* sign up page begin */
  #sign-up-icon {
    color:#2e2eb8;
  }

  #sign-up-icon-container{
    margin: auto;
    margin-top: 10%;
    width: 50%;
    text-align: center;
  }

  #sign-up-label {
    position: relative;
    top: 10px;
    font-size: 30px;
    font-weight: 600;
    color:#2e2eb8;
  }

  #credentials-container {
    position: relative;
    top: 20px;
    font-weight: 600;
  }


  /* sign up page end */
}

@media screen and (min-width: 581px) {
}
