@media screen and (max-width: 580px) {
  #items-list {
    margin-top: 20px;
  }
  
  #main-container {
    color: blue;
  }
  
  .landing-text {
    text-align: center;
  }
  
  #old-list-div {
    text-align: left;
  }
  
  #landing-container {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #new-list-button {
    margin-top: 45px;
  }
  
  #old-list-div {
    margin-top: 30px;
  }

  .item-quantity {
    width: 20px;
  }
  .item-price {
    width: 50px;
  }

  .item-description {
    width: 80px;
  }

  .item-container {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 581px) {

}