@media screen and (max-width: 580px) {
  .items-row {
    display: grid;
    grid-template-columns: 1fr 130px 1fr 2fr 1fr;
    column-gap: 4px;
  }

  .item-delete-button {
   width: 60px;
  }

  #application-logo-container {
    margin-top: 5%;
    width: 90vw;
  }

  #application-logo {
    height: 400px;
  }

  #add-boton {
    width: 95%;
    margin-left: 10px;
  }

  .delete-boton {
    position: relative;
    top: -14px;
    margin-right: 5px;
  }

  .item-price {
    margin-right: 8px;
  }

  #shrink {
    position: relative;
    left: 280px;
    top: 20px;
  }

  #expand {
    position: relative;
    left: 290px;
    top: -30px;
  }

  .serious-container-small {
    display: flex;
    flex-direction: column;
  }

  #outer-item-container {
    flex: auto;
    position: relative;
    top: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1000;
  }

  .item-container {
    padding-top: 15px;
    padding-bottom: 7px;
    color: #000000;
    margin-bottom: 5px;
  }

  /* error page begin */
  #image-container {
    position: relative;
    left: -10px;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
  }

  #notFoundGif {
    margin: 0;
    position: relative;
    top: 20%;
    width: 100%;
  }
  /* error page end */

}

.item-checkbox {
  position: relative;
  top: 4px;
}

#items-list {
  margin-top: 20px;
}

#main-container-two {
  overflow-x: hidden;
}
.landing-text {
  text-align: center;
}

#old-list-div {
  text-align: left;
}

#landing-container {
  margin: 0;
  position: relative;
  top: 330px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
}

#hamburger-menu {
  margin-top: 2%;
}

#application-logo {
  height: 330px;
  width: 380px;
}

#welcome-div {
  margin-left: 32%;
  font-size: 25px;
}

#new-list-button {
  margin-top: 45px;
}

#old-list-div {
  margin-top: 30px;
}

.delete-boton {
  background-color: transparent;
  border-style: none;
  font-weight: 600;
  font-size: 2.1em;
  color: red;
  padding-left: 15px;
}

.x-marks-spot {
  text-shadow: 1px 2px 0.5px gainsboro;
}

.item-quantity {
  width: 40px;
  text-align: center;
  border-radius: 6px;
  font-weight: 400;
  border-style: none;
  box-shadow: 1px 1px 15px -1px;
}

.item-price {
  width: 70px;
  text-align: center;
  border-radius: 6px;
  border-style: none;
  -webkit-box-shadow: 1px 1px 10px -1px;
  -moz-box-shadow: 1px 1px 10px -1px;
  box-shadow: 1px 1px 10px -1px;
}

.item-description {
  margin-left: -36px;
  width: 140px;
  text-align: left;
  font-weight: 500;
}

.item-name {
  margin-left: 20px;
  display: block;
}
#items-total {
  position: relative;
  top: -1px;
  left: 50px;
  font-weight: 900;
  font-size: 25px;
}

.add-boton-div {
  position: fixed;
}

#header {
  position: fixed;
  margin-top: 15px;
  margin-left: 10px;
}

.cat-icon {
  font-size: 25px;
}

#refrigerated {
  color: rgb(77, 195, 255);
  font-weight: 900;
}

#dry-foods {
  color: RGB(158, 162, 107);
  font-weight: 900;
}

#household-icon {
  color: rgb(102, 204, 0);
  font-weight: 900;
}

#wet-foods {
  color: rgb(0, 102, 204);
  font-weight: 900;
}

.strike-red {
  color: red;
  text-decoration: line-through;
}

.no-strike {
  color: rgb(68, 204, 0);
}

#household {
  border-radius: 7px;
  background-color: rgb(102, 204, 0);
}

#frozen {
  border-radius: 7px;
  background-color: rgb(77, 195, 255);
}

#wet {
  border-radius: 7px;
  background-color: rgb(0, 102, 204);
}

#dry {
  border-radius: 7px;
  background-color: RGB(158, 162, 107);
}

.checked-price {
  opacity: 0.5;
}

.show-expander {
  visibility: hidden;
}

.show-shrinker {
  visibility: hidden;
}

#scroll-pane-expander {
  position: fixed;
}

#scroll-pane-shrinker {
  position: fixed;
  top: -10px;
}

.body-row {
  position: relative;
  top: 120px;
}

#add-boton {
  width: 95%;
  margin-left: 10px;
}

#totals-row {
  position: fixed;
  top: 175px;
  width: 250px;
}

#line-two {
  margin-top: 10px;
}

#line-one {
  margin-top: 10px;
}

#add-item-div {
  margin-top: 20px;
}

.show-error-message {
  display: none;
}

/* login page begin */
#warning-text-wrong-creds {
  color: #ff0000;
}
#login-icon-row {
  margin: auto;
  margin-top: 10%;
  width: 50%;
  text-align: center;
}

#login-label {
  position: relative;
  top: 10px;
  font-size: 30px;
  font-weight: 600;
}

#login-container {
  position: relative;
  top: 20px;
  font-weight: 600;
}


/* login page end */

/* sign up page begin */
#sign-up-icon {
  color: #2e2eb8;
}

#sign-up-icon-container {
  margin: auto;
  margin-top: 10%;
  width: 50%;
  text-align: center;
}

#sign-up-label {
  position: relative;
  top: 10px;
  font-size: 30px;
  font-weight: 600;
  color: #2e2eb8;
}

#credentials-container {
  position: relative;
  top: 20px;
  font-weight: 600;
}

#duplicate-user-warning {
  margin-top: 20px;
  color: ff0000;
}

#to-login-button {
  margin-top: 20px;
}

/* sign up page end  */

@media screen and (min-width: 581px) {
  .items-row {
    display: grid;
    grid-template-columns: 2fr 130px 1fr 2fr 1fr;
    column-gap: 4px;
  }

  .item-checkbox {
    position: relative;
    top: -2px;
  }
  /* App component start */
  #main-container {
    width: 500px;
    height: 1050px;
  }
  /* App component end */

  /* Items component start */

  .serious-container-small {
    display: flex;
    flex-direction: column;
  }

  #outer-item-container {
    flex: auto;
    position: relative;
    top: 120px;
    width: 450px;
    padding-right: 10px;
    overflow-x: hidden;
  }

  .serious-container-big {
    position: fixed;
    top: -100px;
    margin-top: 150px;
    width: 95vw;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .item-container {
    padding-top: 15px;
    padding-bottom: 7px;
    color: #000000;
    margin-bottom: 5px;
  }

  .delete-boton {
    position: relative;
    top: -14px;
    margin-right: 5px;
  }
  /* Items component end */

  /* Container component start */
  .add-boton-div {
    width: 400px;
  }
  #add-boton {
    width: 440px;
  }

  #application-logo {
    height: 400px;
  }
  /* Container component end */

  /* header component start */
  .top-header-row,
  .bottom-header-row {
    width: 600px;
  }
  /* header component end  */
}
